@-webkit-keyframes animate-stripes {
	100% {
		background-position: -100px 0;
	}
}

@keyframes animate-stripes {
	100% {
		background-position: -100px 0;
	}
}

$section-color: #BBC3CD;
#about {
	//background-image: linear-gradient(-245deg, rgba($color-light-grey,.8) 50%,$color-primary 50%);
	border-bottom: 1px solid $color-light-grey;
	padding-bottom: 10rem;
	padding-top: 0;
	z-index: 0;
	.about-content {
		background: white;
		margin: 0 auto;
		margin-top: -9rem;
		max-width: 80rem;
		padding-bottom: 4rem;
		padding-top: 2rem;
		position: relative;
		width: 60%;

		@include shadow-1();
		@include media-breakpoint-down(sm) {
			margin-top: -6rem;
			width: 90%;
		}
		@media (max-width: 768px) and (max-height: 440px)	{
			margin-top: -4rem;
		}
	}
	//background: url(../img/small_steps.png);

	.more-info {
		a {
			//color: $color-secondary;
		}
	}
	.background {
		height: 100%;
		//background-color: red;
		position: absolute;
		width: 100%;
	}

	//background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);


	.line {
		//width: 5rem;
		background: black;
		height: 1px;
		margin: 1rem auto;
		margin-bottom: 1rem;
		margin-top: 1rem;
		opacity: .15;
	}

	.warning {
		border: 3px solid $color-danger;
		border-left: none;
		border-right: none;
		display: inline-block;
		margin: 0 auto;
		margin-top: 2rem;
		padding: 1rem 2rem;
		strong {
			color: $color-danger;
		}
	}
	.corner {
		//display: none;
		position: absolute;
		width: 6rem;
		//opacity: .8;
		&-1 {
			bottom: 0;
			left: 0;
		}
		&-2 {
			right: 0;
			top: 0;
		}
	}

	&::after {
		background-size: contain;
		bottom: 0;
		height: 40vh;
		left: -20vw;
		position: absolute;
		//content: '';
		width: 100vw;
		z-index: 0;
	}

	.container {
		z-index: 1;
	}
	.separator {
		background-color: $color-light-grey;
		border: none;
		display: block;
		height: 1px;
		margin: 0 auto;
		margin-top: 3rem;
		width: 10rem;

		//background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
	}
}
