.alert {
	bottom: 0;
	margin: 0 auto;
	padding: 1.8rem;
	position: fixed;
	transition: 1s transform ease-out;
	//display: 
	visibility: hidden;
	//left: 0;
	width: inherit;

	@include transform(translateY(100%));
	&.shown {
		visibility: visible;

		@include transform(translateY(0));
	}
	&.alert-danger {
		background-color: $color-danger;
		color: lighten($color-danger, 40%);
		.warn::before {
			content: "Ups :( ";
		}
	}
	&.alert-success {
		background-color: $color-primary;
		color: lighten($color-primary, 40%);
		.warn::before {
			content: "Huray :)! ";
		}
	}
}
