/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px $color-danger;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* SlideInUp */
body, body.loaded {
  .animate {
    visibility: hidden;
    opacity: 0;
  }
}

body.loaded {

  .fadeInUp {
    transition: all 0.7s ease-out;
    @include transform(translate3d(0, 50px, 0));
  }
  .fadeInLeft {
    transition: all 1s ease-out;
    @include transform( translate3d(-50px, 0, 0));
  }
  .popUp {
    @include transform(scale(0));
    transition: all 0.7s ease-out;
    &.is-active {
      visibility: visible;
      opacity: 1;
      @include transform(scale(1));
      }
  }

  .contactLine {
      transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1) .5s, opacity .5s ease-out ;
      width: 0;
      &.is-active {
        visibility: visible;
        width: 100%;
      }
  }


  .fadeInUp.is-active, .fadeInLeft.is-active {
    visibility: visible;
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }

}
