$text-color: $color-light-grey;

#contact {
	//background: url("../../img/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	//margin-bottom: 183px;
	overflow: hidden;
	overflow-x: hidden;
	position: relative;
	&:after {
		background: rgba($color-secondary,.9);
		//content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	 > .background {
		height: 101%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		//background-color: $color-dark;
	}
	.header-section {
		margin-bottom: 6rem;
	}
	h2 {
		&:after {
			//background-color: $color-danger;
			@include media-breakpoint-down(sm) {
				left: 0;
				width: 100%;
			}
		}
		.array {
			//background-color: $color-danger;
		}
	}
	.typed-cursor {
		//color: $color-light-grey;
	}
	.card {
		background-color: rgba(255,255,255,.2);
		background-color: rgba(0,0,0,.7);
		margin: 0 auto;
		padding: 2rem;
		//box-shadow:  0px 2px 10px 0px rgba(255,255,255,255.16);
	}
	.content {
		position: relative;
		z-index: 1;

		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
	.form {
		background: rgba($color-secondary, .85);
		padding: 3rem;

		@include media-breakpoint-down(sm) {
			padding: 1.5rem;
		}

		.form-group {
			position: relative;
			//padding-top: 1rem;
			label {
				color: $text-color;
				font-size: 1.4rem;
				font-weight: 300;
				opacity: .7;
				transition: .3s all ease-out;

				@include transform(translateY(140%));
				&.focused {
					color: #7AAEF2;
					font-size: 1rem;

					@include transform(translateY(60%));
				}
			}
		}
		.form-control {
			border: none;
		}
	}
	.line {
		background-color: $color-primary;
		height: 1px;
		margin: 0 auto;
		//opacity: .4;
		//width: 100%;
		// margin-left: 1.9rem ;
	}

	input[type="text"], textarea {
		background-color: transparent;
		border: transparent;
		color: $color-secondary;
		// letter-spacing: 1px;
		// margin-left: 1rem;
		font-weight: 300;
		//font-style: italic;
		padding-bottom: .2rem;
		padding-left: 0;

		@include media-breakpoint-down(sm) {
			font-size: 1.1rem;
		}
		@include placeholder {
			color: #7F8C8D;
		}
		@include transition(all,.3s);
		&:focus {
			border-color: transparent;
			outline: none;
			// border-color: darken($color-primary,10%);
			//border-width: 2px;
		}
		&:focus + .line {
			opacity: 1;
		}
	}
	textarea {
		margin-top: .5rem;
	}


	.contact-card {
		background-color: white;
		height: 30rem;
		overflow: hidden;
		position: relative;
		//border: 1px solid $color-danger;

		@include media-breakpoint-down(sm) {
			height: auto;
		}
		@include shadow-1;
		@include media-breakpoint-down(sm) {
			.background {
				display: none;
			}
			.background-mobile {
				display: block;
			}
		}
		.mail-icon {
			display: none;
			visibility: hidden;
			height: 65%;
			left: -20%;
			position: absolute;
			top: 50%;

			@include media-breakpoint-down(sm) {
				display: none;
			}
			@include transform(translateY(-50%));
		}
		.background, .background-mobile {
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			//opacity: .7;
		}
		.background-mobile {
			display: none;
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
		
	
		
		 > .row {
			height: 100%;
		}
		.left, .right {
			padding: 2.5rem 3rem;

			@include media-breakpoint-down(sm) {
				padding: 3rem 2rem;
			}
		}
		.left {
			color: $color-secondary;
			font-family: $handwrited-font-family;
			font-size: 1.5rem;
			height: 100%;
			position: relative;

			@include media-breakpoint-down(sm) {
				//order: 2;
				height: auto;
				padding-bottom: 0;
			}
			h3 {
				font-family: inherit;
				font-size: 2.2rem;
				font-weight: bold;
				margin-bottom: 2rem;
			}
			.form-control {
				font-family: $default-font-family;
			}
			&:after {
				background-color: rgba($color-dark, .2);
				content: "";
				height: 80%;
				position: absolute;
				right: 1px;
				top: 50%;
				width: 1px;

				@include transform(translateY(-50%));
			}
			.label {
				margin: 0;
			}
			.nameInput {
				display: inline-block;

				.form-control {
					margin: 0;
					width: 100%;
				}
			}
			.submitGroup {
				bottom: 2rem;
				position: absolute;
				right: 2rem;
				text-align: right;

				@include media-breakpoint-down(sm) {
					right: 1rem;
					top: .5rem;
					position: relative;
					text-align: right;
					top: 0;
				}
			}
			.btn {
				background-color: $color-danger;
				border: 2px solid transparent;
				border-radius: 100%;
				color: white;
				font-family: $default-font-family;
				font-size: 1.5rem;
				height: 3.5rem;
				outline: none;
				transition: all .5s ease-in-out;
				width: 3.5rem;
				.text {
					display: none;
					visibility: hidden;
				}
				svg {
					margin-left: -.2rem;
					margin-top: .4rem;
					width: 1.5rem;
					path {
						transition: inherit;
					}
				}


				&:hover {
					background: white;
					border: 2px solid $color-danger;
					//width: auto;
					//border-radius: 25px;
					.text {
						//display: block;
						//visibility: visible;
					}
					svg path {
						fill: $color-danger;
					}
				}
			}
		}
		.right {
			position: relative;

			@include media-breakpoint-down(sm) {
				//order: 1;
				padding-top: 0;
			}
			.contact-photo {
				display: block;

				float: right;
				width: 8rem;

				@include media-breakpoint-down(sm) {
					display: none;
					margin: 0;
				}
			}
			.contacts {
				bottom: 3rem;
				position: absolute;
				right: 3rem;
				text-align: right;
			
				@include media-breakpoint-down(sm) {
					position: relative;
					right: 0;
					top: 1rem;
				}

				p {
					color: white;
					font-size: 1.1rem;
					margin: .7rem 0;
					//padding: 1rem 0;
				}
			}
			.phone-icon {
				display: none;
				bottom: 2rem;
				opacity: .7;
				position: absolute;
				right: 2rem;
				width: 6rem;

				@include media-breakpoint-down(sm) {
					right: 1rem;
					top: 1rem;
					width: 25%;
				}
			}
			.social-icons {
				.icon {
					display: inline-block;
					width: 1.5rem;
					margin-left: 2rem;
					transition: .7s all ease-out;
					img {
						max-width: 100%;
					}
					&:hover {
						@include transform(scale(1.1));
						svg g{
							//fill: $color-primary;
						}
					}
				}
			}
		}
	}
}
