#contact{

  //background: rgba($color-secondary-dark,.4) url("../../img/macbook-work.jpg");

  //background-image: url("../img/computer_code.png");
  background-image: linear-gradient(120deg, $color-secondary-dark 100%, $color-secondary 0%);
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

  background-size: cover;
  //background-blend-mode: multiply;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($color-secondary,.9);
    position: absolute;
    top: 0;
    left: 0;
  }
  h2{
    color: $color-primary;
    opacity: .9;
    &:after {
          background-color: $color-danger;
    }
  }

  .card{
    margin: 0 auto;
    background-color: rgba(255,255,255,.2);
    background-color: rgba(0,0,0,.2);
    padding: 2rem;
    //box-shadow:  0px 2px 10px 0px rgba(255,255,255,255.16);
  }
  .content {
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
  form{
    background: rgba(white, .1);
    padding: 3rem;

    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
    }

    .form-group{
      position: relative;
      //padding-top: 1rem;
      label {
        font-weight: 300;
        opacity: .7;
        font-size: 1.4rem;
        transition: 0.3s all ease-out;
        color: #eee;
        @include transform(translateY(140%));
        &.focused {
          font-size: 1rem;
          color: #7AAEF2;
          @include transform(translateY(60%));
        }

      }


      &:before{
        //content: "{";
        color: white;
        font-size: 1.5rem;
        width: 2px;
        position: absolute;
        left: 0;
        top: .3rem;
       // background-color: white;
        opacity: .4;
       // transform: rotate(45deg);
      }
      &:after{
        //content: "}";
        color: white;
        font-size: 1.5rem;
        width: 2px;
        position: absolute;
        right: 0;
        bottom: .3rem;
       // background-color: white;
        opacity: .4;
       // transform: rotate(45deg);
      }


      .line{
        height: 1px;
        background-color: $color-primary;
        opacity: .4;
        margin: 0 auto;
        //width: 100%;
       // margin-left: 1.9rem ;
      }
    }
    .form-control {
      border: none;
    }




    input[type="text"],textarea{
      background-color: transparent;
      color: white;
     // letter-spacing: 1px;
      font-size: 1rem;
     // margin-left: 1rem;
      font-weight: 300;
      //font-style: italic;
      @include transition(all,.3s);
      @include placeholder {
        color: white;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.9rem;
      }
      &:focus {
        outline: none;
        border-color: transparent;
       // border-color: darken($color-primary,10%);
        //border-width: 2px;
      }
      &:focus+.line{
        opacity: 1;
      }
    }
    .btn-block {
      position: relative;
      text-align: center;
      @include flexbox();
      @include align-items(flex-end);
      .btn {
        //position: absolute;
        bottom: 0;
        min-width: 8rem;
        max-width: 100%;
        margin-bottom: 1.5rem;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        svg {
          height: .6rem;
          overflow: visible;
          position: absolute;
          right: 1.5rem;
          top: 50%;
          @include transform(translate3d(0,-50%,0));
          transition: inherit;
        }
        &:hover {

          svg {
            @include transform(translate3d(50%,-50%,0));
            //opacity: .6;

          }
        }
      }
    }
    textarea{

    }

    input[type="submit"]{

    }
  }

}
