#counts {
    background-color: $color-secondary;
    color: white;
    
    svg {
        fill: white;
    }
    
    .column .row, {
        margin: 0;
        width: auto;
        
    }
    .column {
        @include media-breakpoint-down(sm) {
            margin-top: 3rem;
            text-align: center; 
            margin-bottom: 2rem;
        }
        .inner {
            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }
    }
    
    .number {
        font-size: 1.2rem;
    }
    .plus {
        display: inline-block;
        margin-left: 0.5rem;
        opacity: .9;
        font-size: .8rem;
        margin-bottom: 0.3rem;
        color: $color-primary;
    }
    .icon {
        width: 3rem;
        //margin: 0 auto;
        display: block;
        @include media-breakpoint-down(sm) {
            margin-lef: auto;
            margin-right: 1rem;
            
        }
    }
    .heading {
        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }

    .icon-wrapper {
        @include flexbox();
        @include align-items(center);
        padding: 0;
        @include media-breakpoint-down(sm) {
                text-align: right;
                @include align-items(flex-end);
                display: inline-block;
                width: auto;
                float: left;
                flex: none;
        }
    }
    .number-wrapper {
        @include flexbox();
        @include align-items(flex-end);
        padding: 0;
        @include media-breakpoint-down(sm) {
            display: inline-block;
            float: left;
            width: auto;
            flex: none;
        }
    }
    .margin {
        margin-top: .5rem;
    }
    
}
