footer {
	background: url("../../img/playstation-pattern.png");
	background-color: $color-light-grey;
	border-top: 10px solid $color-primary;
	bottom: 0;
	padding: 2rem 0rem 1rem 0rem;
	text-align: center;
	// position: fixed;
	width: 100%;
	//z-index: -1;
	&:before {
		background-color: $color-secondary;
		height: 10px;
		left: 0;
		position: absolute;
		top: 10px;
		//content: "";
		width: 100%;
	}

	.people-list {
		list-style: none;
		padding: 0;
		.icon {
			margin-right: .3rem;
			position: relative;
			top: -.1rem;
			width: 1.2rem;
		}
		li {
			margin-top: .3rem;
			a {
				color: $color-secondary;
				font-size: .9rem;
			}
		}
	}
	.footer-div {
		text-align: left;

		@include media-breakpoint-down(sm) {
			text-align: center;
		}
		justify-content: flex-start;
	}
	//center div and his text
	.center-text {
		text-align: center;
		.icon {
			width: 1.5rem;

			fill: $color-danger;
		}
	}
}
