footer{
  text-align: center;
  background-color: $color-light-grey;
  border-top: 10px solid $color-primary;
  background: url("../../img/playstation-pattern.png");
  position: relative;
  padding: 2rem 0rem 1rem 0rem;
  &:before {
      //content: "";
      width: 100%;
      height: 10px;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $color-secondary;
  }
  p{

  }
  .people-list {
      list-style: none;
      padding: 0;
      .icon {
          width: 1.2rem;
          margin-right: .3rem;
          position: relative;
          top: -.1rem;
      }
      li {
          margin-top: 0.3rem;
          a {
              color: $color-secondary;
          }
      }
  }
  .footer-div {
      justify-content: flex-start;
      text-align: left;
      @include media-breakpoint-down(sm)
      {
          text-align: center;
      }
  }
  //center div and his text
  .center-text {
      text-align: center;
      .icon {
          width: 1.5rem;
          fill: $color-danger;
      }
  }
  
}
