/** HEADER */
header {
	background-color: $color-dark;
	overflow: hidden;
	//padding: 10rem 0 15rem 0;
	height: 95vh;
	max-height: 44rem;
	position: relative;
	transition: all 1s ease-in-out;
	transition: all 1s ease-out;
	// height: 60rem;
	width: 100%;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
			

	@media (max-width: 768px) and (max-height: 440px)	{
		height: 105vh;
	}
	.background {
		// background-image: linear-gradient(120deg, $color-dark 100%, #000 0%);
		background-color: $color-dark;
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	

	.my-img {
		bottom: -2rem;
		display: block;
		max-width: 600px;
		position: absolute;
		right: 5%;
		width: 25rem;

		@include media-breakpoint-down(sm) {
			bottom: 0;
			right: -40%;
			//display: none;
			//position: absolute;
			//bottom: 0;
			width: 100vw;
		}
		@media (max-width: 768px) and (max-height: 440px)	{
			right: 0; 
			width: 35vw;
		}
		img, source {
			max-width: 100%;
		}
	}

	.background-picture {
		height: 100%;
		position: absolute;
		right: 0;
		top: 3rem;
		width: 100%;
	}

	/* Mask: */
	.content {
		color: white;
		font-size: 3rem;
		height: 100%;
		margin: 0;
		position: relative;
		top: 30%;
		z-index: 3;

		@include media-breakpoint-down(sm) {
			font-size: 2.5rem;    top: 24%;
		}
		@media (max-width: 768px) and (max-height: 440px)	{
			top: 19%;
		}
		span {
			font-weight: 300;
		}
		&-div {
			overflow: visible;
		}
		.overflowing-div {
			overflow: visible;
			white-space: nowrap;
		}
		> .container {
			padding: 0;
			.content-div {
				padding: 0;
			}
			@include media-breakpoint-down(sm) {
				padding: 0 .8rem;
			}
		}
		.intro-text {
			padding: 0;
			color: white;
			font-size: 1rem;
			//margin-top: 1rem;
			font-weight: 300;
			opacity: .95;
			position: relative;
			text-align: justify;
			width: 80%;
			z-index: 2;

			a {
				color: white;
				font-weight: 700;
			}
			@include media-breakpoint-down(sm) {
				text-align: left;
				max-width: 60vw;
				overflow: hidden;
			}
		}
	}
	h1 {
		display: inline-block;
		font-size: 5rem;
		height: 5rem;
		max-width: 100%;
		white-space: nowrap;
		z-index: 2;

		@include media-breakpoint-down(sm) {
			height: 4rem;
			margin-top: -1rem;
			margin-bottom: 1.5rem;
		}
		.name {
			color: $color-primary;
			font-weight: 400;
			@include media-breakpoint-down(sm) {
				font-size: 3.6rem;
				&.webdesigner {
					font-size: 3.2rem;
				}
			}
			&.last {
				font-size: 3.8rem;
			}
		}
	}
	h3 {
		font-size: $font-size-big;

		@include media-breakpoint-down(sm) {
			font-size: 2.3rem;
		}
	}
	span.typed-cursor {
		font-size: 4rem;
		@include media-breakpoint-down(sm) {
			font-size: 3.5rem;
		}
	}
	.line {
		background-color: $color-danger;
		height: 2px;
		margin: .5rem 0;
		width: 30px;
	}

	.btn-container {
		text-align: right;
	}
	&-btn {
		margin-right: auto;
		margin-top: 2rem;
	}
}
