
/** MENU */

.navbar{
  padding: 0.7rem 1rem;
  border-radius: 0rem;
  background-color: transparent;

  .navbar-toggler{
    background-color: lightgray;
  }
  .navbar-brand{
    color: white;
    opacity: .9;
  }
  .navbar-nav{

    .nav-item{
      text-align: center;
      margin-left: 2.4rem;


    }
    a.nav-link{
      position: relative;
      font-size: 1.1rem;
      //font-weight: 700;
      color: white;
      border: 1px solid transparent;
      @include transition(border,$standart-animaion-time);
      padding: 0.6rem 1.3rem;
      border-radius: 2px;
      &:hover{
        border: 1px solid white;
      }
      &.active{
        /*border-bottom: 2px solid $color-primary;*/
        font-weight: 700;
      }
      &:before{
        content: "";
        height: 1.2rem;
        position: absolute;
        right: -1.5rem;
        margin-top: 0.4rem;
        background-color: white;
        width: 2px;
        opacity: .5;
        transform: rotate(45deg);
      }

    }

  }


  &.navbar-dark{
    background-color: $color-secondary;

  }


}

.navbar-fixed-top{
  header{

  }
}