/** MENU */

.navbar {
	background-color: transparent;
	border-radius: 0rem;
	padding: .7rem 0;
	position: fixed;
	width: 100%;
	z-index: 100;

	@include transition(all, .5s, ease-in);
	@include media-breakpoint-down(sm) {
		//background-color: $color-dark;
	}
	@include media-breakpoint-down(sm) {
		.navbar-toggleable-xs {
			.nav.navbar-nav {
				//transform: translateX(100%);
				//transition: all .5s ease-out;
				background-color: transparent;
				bottom: 0;
				display: flex;
				flex-direction: column;
				left: 0;
				margin: 0;
				padding: 0;
				position: fixed;
				visibility: hidden;
				width: 100%;

				justify-content: space-around;
				.nav-item {
					background-color: $color-dark;
					font-size: 4rem;
					height: 100%;
					margin-left: 0;
					opacity: 0;
					padding: 0 2rem;
					position: relative;

					transform: translateX(100%) translateY(-10%);
	

					@include align-items(center);
					@include flexbox();
					@for $i from 1 through 4 {
						&:nth-child(#{$i}) {
							transition: all .5s ease-in-out unquote("0.#{$i}s"), border 0s ease 0s;
						}
					}
					&.clicked {
						transition: all .5s ease-in-out 1s, border 0s ease 0s;
					
					}


					&:nth-child(odd) {
						background-color: darken($color-secondary-dark,5%);
					}
				}

				a.nav-link {
					display: inline-block;
					height: 100%;
					left: 0;
					position: absolute;
					width: 100%;

					@include align-items(center);
					@include flexbox();
					&.active {
						border: none;
						border-left: 5px solid $color-primary;
					}
				}
			}
		}

		.navbar-toggleable-xs.is-opened {
			.nav.navbar-nav {
				visibility: visible;
				.nav-item {
					opacity: 1;
					transform: translate3d(0,0,0);
					visibility: visible;
				}
			}
		}
	}
	.container {
		//margin: 0;
		position: relative;

		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}
	.navbar-nav {
		@include flex-direction(row);
	}
	.language {
		color: white;
		font-weight: 700;
		opacity: .7;
		padding: .3rem .5rem;
		position: absolute;
		right: 0rem;
		text-align: center;
		top: .25rem;
		transition: .5s all ease-out;

		@include media-breakpoint-down(sm) {
			right: 5rem;
			width: 3rem;
		}
		&:hover {
			opacity: 1;

			//@include transform(scale(1.1));
		}
		img {
			max-width: 100%;
		}

		.language-svg {
			display: block;
		}
	}

	.navbar-toggler {
		background-color: lightgray;
	}
	.navbar-brand {
		color: white;
		display: inline-block;
		opacity: .9;
		position: relative;
		width: 8rem;

		@include flexbox;
		@include align-items(center);
		@include media-breakpoint-down(sm) {
			width: 7rem;
		}
		@include transition(all, .5s, ease-in);
		@include align-items(center);
		.logo {
			height: auto;
			width: 100%;
			//transform: translateY(50%);
		}
	}
	.navbar-collapse {
		justify-content: flex-end;
	}

	.navbar-toggler {
		background-color: transparent;
		float: right;
		//@include align-items(center);
		//@include flexbox();
		position: absolute;
		right: 0;
		width: 4rem;
		.menu-icon {
			height: auto;
			overflow: visible;
			width: 100%;
			use, circle, path, rect {
				transition: transform 300ms cubic-bezier(.6, -.28, .74, .05) 0ms;
			}

			&.is-opened {
				//vrsek
				use:nth-of-type(1), circle, g > path:nth-of-type(1) {
					transform: translateY(4px);
				}
				//spodek
				use:nth-of-type(2) {
					fill: $color-danger;
				}
				g > rect:nth-of-type(1) {
					stroke: $color-danger;
				}
				//spodek
				use:nth-of-type(3), g > path:nth-of-type(2) {
					transform: translateY(-4px);
				}
			}
		}
	}
	//end of response

	//scrolled navbar
	&.scrolled {
		background-color: $color-dark;
		padding: .3rem 0;

		@include media-breakpoint-down(sm) {
		}
		//background: linear-gradient(white 5%, $color-dark);
		@include shadow-1();
		.nav-item a {
			padding: .3rem .5rem;
		}
		.navbar-brand {
			width: 6rem;
		}
	}

	.navbar-nav {
		.nav-item {
			//margin-left: 2.4rem;
			text-align: center;
		}
		a.nav-link {
			border: 1px solid transparent;
			color: white;
			//font-size: 1.1rem;
			font-weight: 300;
			margin-right: 2rem;
			opacity: .7;
			padding: .6rem 1.3rem;
			position: relative;

			@include transition(border, $standart-animaion-time);
			&:hover {
				border: 1px solid white;
				opacity: 1;
			}
			&.active {
				border-bottom: .5px solid $color-primary;
				opacity: 1;
				//font-weight: 700;
			}
			&:before {
				background-color: white;
				content: "";
				height: 1.2rem;
				margin-top: .4rem;
				opacity: .5;
				position: absolute;
				right: -1.5rem;
				width: 2px;

				@include transform(rotate(45deg));
				@include media-breakpoint-down(sm) {
					height: 3.2rem;
				}
			}
		}
	}
	.nav-item:last-child {
		a.nav-link:before {
			display: none;
		}
	}
}
