
#portfolio{
  //background: url("../../img/geometric.svg");
  background-size: contain;
 // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  background: linear-gradient(to top right, #EEE 55%,white 50%);
  h2 {
    position: relative;
    z-index: 5;
  }

  .card-work {
    //padding-left: 0;
    //padding-right: 0;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .triangle{
    margin: 7rem;
    img{
      position: relative;
    }
  }
  .col-xs-10,.col-xs-8{
    margin: 0 auto;
    /* Mask: */

  }

  div[class*="col-md"]{
    display: inline-block;
    float:none;
  }
  .card{
    background: #000000;
    border: none;
    border-radius: 0;
   // @include transition(all, $standart-animaion-time);
    -webkit-font-smoothing: subpixel-antialiased;

    @include transition(all,.2s);
    &:hover{
      //margin-top: -4px;
      box-shadow:  0px 2px 10px 0px rgba(0,0,0,0.16);
      //transform: scale(1.02) translateZ(0);
      backface-visibility: hidden;
      -webkit-filter: blur(0);
     // zoom: 101%;
      .card-img-left{
        transform: translateY(-4%);
      }
    }
    .card-block{
      padding-top: 3rem;
    }
    margin-bottom: 3rem;
    color:  white;
    overflow: hidden;
    .card-title{
      font-size: 2.5rem;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        bottom: -.2rem;
        left: 2px;
        width: 2rem;
        height: 1px;
        background: #000000;
        opacity: 0.2;
      }
    }
    .card-block{
      padding-left: 3rem;
      padding-bottom: 3rem;
      p{
        color: white;
        opacity: 0.9;
        font-weight: 300;
      }
      .labels {

      }
      .label{
        padding-right: 0.4rem;
        display: inline-block;
        &::before{
          content: "#";
          display: inline;
          position: relative;
          left: 0rem;
          top: 0;
        }
      }
    }
    &-img{

      @include transition(all,.3s,ease-in-out);
      -webkit-transition-delay: .1s; /* Safari */
      transition-delay: .1s;
    }

    border: 1px solid $color-light-grey;
    &.first{
      background: $color-light-grey;
      border-color: darken($color-light-grey,4%);
      color: $color-grey;
      p{
        color: $color-grey;
      }
      img{
        position: relative;
        top: 5.5rem;
        @include media-breakpoint-down(sm) {
          top:0;
        }
      }
    }

    &.second{
      background: $color-secondary;
      border-color: darken($color-secondary,4%);
      .label{
        color: #5477A5;
      }
      img{
        position: relative;
        top: 1rem;
      }
    }
    &.third{
      background: lighten($color-danger,8%);
      border-color: lighten($color-danger,6%);
      img{
        position: relative;
        top: .3rem;
      }
    }
    &.fourth{
      background: $color-light-grey;

      border-color: darken($color-light-grey,4%);
      color: $color-grey;
      p{
        color: $color-grey;
      }
    }

    &.second,&.third{

      .card-title{
        &:after{
          background: white;
        }
      }
    }


  }




}

.mini-section{
  height: 40vh;
  background-image: url("../../img/macbook-work-3.jpg");
  background: {
    size: cover;
    position: center;
  };
  .container,.row{
    height: 100%;
  }
  h3{
    text-transform: uppercase;
    color: $color-primary;
    font-size: 3rem;
    font-weight: 700;
  }
  margin: 0 auto;
  color: white;
  p{
    color: white;
  }
  text-align: center;
  .body{
    margin: 0 auto;
  }
}
