
#portfolio{
  background-color: white;
  h2 {
    position: relative;
    z-index: 5;
  }

  .triangle{
    margin: 7rem;
    img{
      position: relative;
    }
  }
  .col-xs-10,.col-xs-8{
    margin: 0 auto;
    /* Mask: */

  }

  div[class*="col-md"]{
    display: inline-block;
    float:none;
  }
  .card{
    background: #000000;
    border: none;
   // @include transition(all, $standart-animaion-time);
    box-shadow:  0px 2px 10px 0px rgba(0,0,0,0.16);
    &:hover{
      //margin-top: -4px;
    }
    .card-block{
      padding-top: 3rem;
    }
    margin-bottom: 3rem;
    color:  white;
    overflow: hidden;
    .card-title{
      font-size: 2.5rem;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        top: 3rem;
        left: 2px;
        width: 2rem;
        height: 1px;
        background: #000000;
        opacity: 0.2;
      }
    }
    .card-block{
      padding-left: 3rem;
      padding-bottom: 3rem;
      p{
        color: white;
        opacity: 0.9;
        font-weight: 300;
      }
      .label{
        padding-right: 0.4rem;
        &::before{
          content: "#";
          display: inline;
          position: relative;
          left: 0rem;
          top: 0;
        }
      }
    }
    

    &.first{
      background: $color-light-grey;
      color: $color-grey;
      p{
        color: $color-grey;
      }
      img{
        position: relative;
        top: 5.5rem;
      }
    }

    &.second{
      background: $color-secondary;;
      img{
        position: relative;
        top: 1rem;
      }
    }
    &.third{
      background: lighten($color-danger,10%);
      img{
        position: relative;
        top: .3rem;
      }
    }
    &.fourth{
      background: $color-light-grey;
      color: $color-grey;
      p{
        color: $color-grey;
      }
    }

    &.second,&.third{

      .card-title{
        &:after{
          background: white;
        }
      }
    }


  }

  


}

.mini-section{
  height: 40vh;
  background-image: url("../../img/macbook-work-3.jpg");
  background: {
    size: cover;
    position: center;
  };
  .container,.row{
    height: 100%;
  }
  h3{
    text-transform: uppercase;
    color: $color-primary;
    font-size: 2.5rem;
  }
  margin: 0 auto;
  color: white;
  p{
    color: white;
  }
  text-align: center;
  .body{
    margin: 0 auto;
  }
}